<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="content">
        <div class="meters">
          <div class="wrapper-1 wrapper">
            <label class="strong-sell">STRONG</label>
            <label class="sell">SELL</label>
            <label class="nuteral">NUTRAL</label>
            <label class="buy">BUY</label>
            <label class="strong-buy">STRONG</label>
            <div class="trade-data">  
              <label class="type"><b>...</b></label>
              <label class="trade-name">Bithash - </label>
              <label class="price"><b>-</b></label>
            </div>
            <svg class="meter-1 meter">
                <circle class="circle outline outline_curves-1 outline_curves" 
                cx="50%" cy="50%"></circle>
                 
                <circle  class="circle range low" cx="50%" cy="50%"
                stroke="#FDE47F"></circle>
                 
                <circle  class="circle range avg" cx="50%" cy="50%"
                stroke="#7CCCE5"></circle>
                 
                <circle class="circle range high" cx="50%" cy="50%"
                stroke="#E04644"></circle>
                 
                <circle class="circle mask" cx="50%" cy="50%" >
                </circle>
                 
                <circle class="circle outline outline_ends"
                cx="50%" cy="50%"></circle>
            </svg>
            <img src="assets/gauge-needle.svg" alt="" class="meter_needle">
          </div>
          <div class="wrapper-2 wrapper">
            <label class="strong-sell">STRONG</label>
            <label class="sell">SELL</label>
            <label class="nuteral">NUTRAL</label>
            <label class="buy">BUY</label>
            <label class="strong-buy">STRONG</label>
            <div class="trade-data">  
              <label class="type"><b>...</b></label>
              <label class="trade-name">Kucoin - </label>
              <label class="price"><b>-</b></label>
            </div>
            <svg class="meter-2 meter" style="margin-left: 30px;">
                <circle class="circle outline outline_curves-1 outline_curves" 
                cx="50%" cy="50%"></circle>
                 
                <circle  class="circle range low" cx="50%" cy="50%"
                stroke="#FDE47F"></circle>
                 
                <circle  class="circle range avg" cx="50%" cy="50%"
                stroke="#7CCCE5"></circle>
                 
                <circle class="circle range high" cx="50%" cy="50%"
                stroke="#E04644"></circle>
                 
                <circle class="circle mask" cx="50%" cy="50%" >
                </circle>
                 
                <circle class="circle outline outline_ends"
                cx="50%" cy="50%"></circle>
            </svg>
            <img src="assets/gauge-needle.svg" alt="" class="meter_needle" style="right: 30">
          </div>
          <div class="wrapper-3 wrapper" style="float: left;">
            <label class="strong-sell">STRONG</label>
            <label class="sell">SELL</label>
            <label class="nuteral">NUTRAL</label>
            <label class="buy">BUY</label>
            <label class="strong-buy">STRONG</label>
            <div class="trade-data">  
              <label class="type"><b>...</b></label>
              <label class="trade-name">Bitmex - </label>
              <label class="price"><b>-</b></label>
            </div>
            <svg class="meter-3 meter" style="margin-left: 30px;">
                <circle class="circle outline outline_curves-1 outline_curves" 
                cx="50%" cy="50%"></circle>
                 
                <circle  class="circle range low" cx="50%" cy="50%"
                stroke="#FDE47F"></circle>
                 
                <circle  class="circle range avg" cx="50%" cy="50%"
                stroke="#7CCCE5"></circle>
                 
                <circle class="circle range high" cx="50%" cy="50%"
                stroke="#E04644"></circle>
                 
                <circle class="circle mask" cx="50%" cy="50%" >
                </circle>
                 
                <circle class="circle outline outline_ends"
                cx="50%" cy="50%"></circle>
            </svg>
            <img src="assets/gauge-needle.svg" alt="" class="meter_needle">
          </div>
        </div> 
      <%if @exchange_list.present?%>
        <div class="exchange-table">
          <p><b>Total Available Exchange:</b>  <%= @total_available_exchanges %></p>
          <table>
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Market</th>
                <th>FromSymbol</th>
                <th>ToSymbol</th>
                <th>Price</th>
                <th>LastUpdate</th>
                <th>LastVolume</th>
                <th>Volume24H</th>
                <th>Volume24HTo</th>
                <th>Open24H</th>
                <th>High24H</th>
                <th>Low24H</th>
                <th>Change24H</th>
                <th>Supply</th>
                <th>MKTCap</th>
                <th>TotalVolume24H</th>
                <th>TotalVolume24HTo</th>
              </tr>
            </thead>  
            <tbody>    
            <% @exchange_list.each_with_index do |exchange, index| %>                     
              <tr>
                <td><%= index+1 %></td>
                <td class="text-align-center"><%= exchange[:MARKET] %></td>
                <td class="text-align-center"><%= exchange[:FROMSYMBOL] %></td>
                <td class="text-align-center"><%= exchange[:TOSYMBOL] %></td>
                <td class="text-align-right"><%= exchange[:PRICE] %></td>
                <td class="text-align-center"><%= Time.zone.parse(Time.at(exchange[:LASTUPDATE]).to_s).strftime("%d-%m-%y %H:%M") %></td>
                <td class="text-align-right"><%= exchange[:LASTVOLUME] %></td>
                <td class="text-align-right"><%= exchange[:VOLUME24HOUR] %></td>
                <td class="text-align-right"><%= exchange[:VOLUME24HOURTO] %></td>
                <td class="text-align-right"><%= exchange[:OPEN24HOUR] %></td>
                <td class="text-align-right"><%= exchange[:HIGH24HOUR] %></td>
                <td class="text-align-right"><%= exchange[:LOW24HOUR] %></td>
                <td class="text-align-right"><%= exchange[:CHANGE24HOUR] %></td>
                <td class="text-align-right"><%= exchange[:SUPPLY] %></td>
                <td class="text-align-right"><%= exchange[:MKTCAP] %></td>
                <td class="text-align-right"><%= exchange[:TOTALVOLUME24H] %></td>
                <td class="text-align-right"><%= exchange[:TOTALVOLUME24HTO] %></td>
              </tr>           
            <% end %>
            </tbody>    
          </table>
        </div>
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @exchange_list %>
          </div>
          <%= will_paginate @exchange_list, :container => false %>
        </div>  
      <%else%>
        <h3><%= @error %></h3>
      <%end%>
    </div>
  </main>
</div>      
<script>
$(document).ready(function(){
  trade_data("")
  meter_circle_init('wrapper-1')
  meter_circle_init('wrapper-2')
  meter_circle_init('wrapper-3')
  range_change_event('wrapper-1',50)
  range_change_event('wrapper-2',50)
  range_change_event('wrapper-3',50)
  window.setInterval(function(){
    trade_data("")
  }, 30000);
});
</script>
