<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="content"> 
     <% if @news_list.present? %>
        <table>
          <tr>
            <th>S. No.</th>
            <th>Title</th>
            <th>Published On</th>
            <th></th>
          </tr>
          <% @news_list.each_with_index do |news, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= news[:title] %></td>
              <td><%= Time.zone.parse(Time.at(news[:published_on]).to_s).strftime("%d-%m-%y %H:%M") %></td>
              <td>
                <%=link_to "/news/#{news[:id]}" do%>
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                <%end%>
              </td>
            </tr>
          <% end %>  
        </table>
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @news_list %>
          </div>
          <%= will_paginate @news_list, :container => false %>
        </div>
      <%else%>
        <h3><%= @error %></h3>
      <%end%>  
    </div>
  </main>
</div>