<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="dashboard-container">
      <div class="col-sm-12">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#deribit" onclick="toggleOrderBooks('deribit')">Deribit</a></li>
            <li><a data-toggle="tab" href="#kraken" onclick="toggleOrderBooks('kraken')">Kraken</a></li>
            <li><a data-toggle="tab" href="#okcoin" onclick="toggleOrderBooks('okcoin')">Okcoin</a></li>
          </ul>

           <div class="col-sm-12 orderbook">
             <div id="deribit" class="tab-pane fade in active">
               <div class="col-sm-12">
                <div class="col-sm-6">
                  <label style="margin-left: 10%; height: 30px; margin-top: 10px;">Buy</label>
                </div>
                <div class="col-sm-6">
                  <label style="margin-left: 10%; height: 30px; margin-top: 10px;">Sell</label>
                </div>
               </div> 
               <div class="col-sm-12">
                <div class="col-sm-6 col-sm-offset-3">
                  <label style="margin-left: 30%;  height: 30px; margin-top: 10px;"><%=@avg_price%></label>
                </div>
               </div> 
              <script>
                var chart = AmCharts.makeChart("chartdiv", {
                  "type": "serial",
                  "theme": "none",
                  "rotate": true,
                  "marginBottom": 50,
                  "dataProvider": JSON.parse('<%= @deribits_details.to_json.html_safe -%>'),
                  "startDuration": 1,
                  "graphs": [{
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "buy",
                    "title": "Buy",
                    "labelText": "[[value]]",
                    "clustered": false,
                    "labelFunction": function(item) {
                      return Math.abs(item.values.value);
                    },
                    "balloonFunction": function(item) {
                      return item.category + ": " + Math.abs(item.values.value);
                    }
                  }, {
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "sell",
                    "title": "Sell",
                    "labelText": "[[value]]",
                    "clustered": false,
                    "labelFunction": function(item) {
                      return Math.abs(item.values.value);
                    },
                    "balloonFunction": function(item) {
                      return item.category + ": " + Math.abs(item.values.value);
                    }
                  }],
                  "categoryField": "price",
                  "categoryAxis": {
                    "gridPosition": "start",
                    "gridAlpha": 2,
                    "axisAlpha": 0
                  },
                  "valueAxes": [{
                    "gridAlpha": 0,
                    "ignoreAxisWidth": true,
                    "labelFunction": function(value) {
                      return Math.abs(value)
                    },
                    "guides": [{
                      "value": 0,
                      "lineAlpha": 2
                    }]
                  }],
                  "balloon": {
                    "fixedPosition": true
                  },
                  "chartCursor": {
                    "valueBalloonsEnabled": false,
                    "cursorAlpha": 0.05,
                    "fullWidth": true
                  },
                  "allLabels": [{
                    "text": "Buy",
                    "x": "28%",
                    "y": "100%",
                    "bold": true,
                    "align": "middle"
                  }, {
                    "text": "Sell",
                    "x": "75%",
                    "y": "100%",
                    "bold": true,
                    "align": "middle"
                  }],
                 "export": {
                    "enabled": false
                  }

                });
              </script>
              <div id="chartdiv" style="width: 100%; height: 280px;margin-top: 20px;"></div>

             
            </div>
            <div id="kraken" class="tab-pane fade">
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <label style="margin-left: 30%; height: 30px; margin-top: 10px;">Buy</label>
                </div>
                <div class="col-sm-6">
                  <label style="margin-left: 30%; height: 30px; margin-top: 10px;">Sell</label>
                </div>
               </div> 
               <div class="col-sm-12">
                <div class="col-sm-6 col-sm-offset-3">
                  <label style="margin-left: 30%;  height: 30px; margin-top: 10px;"><%=@kraken_avg_price%></label>
                </div>
               </div> 
              <script>
                var chart = AmCharts.makeChart("chartdiv-kraken", {
                  "type": "serial",
                  "theme": "none",
                  "rotate": true,
                  "marginBottom": 50,
                  "dataProvider": JSON.parse('<%= @krakens_details.to_json.html_safe -%>'),
                  "startDuration": 1,
                  "graphs": [{
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "buy",
                    "title": "Buy",
                    "labelText": "[[value]]",
                    "clustered": false,
                    "labelFunction": function(item) {
                      return Math.abs(item.values.value);
                    },
                    "balloonFunction": function(item) {
                      return item.category + ": " + Math.abs(item.values.value);
                    }
                  }, {
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "sell",
                    "title": "Sell",
                    "labelText": "[[value]]",
                    "clustered": false,
                    "labelFunction": function(item) {
                      return Math.abs(item.values.value);
                    },
                    "balloonFunction": function(item) {
                      return item.category + ": " + Math.abs(item.values.value);
                    }
                  }],
                  "categoryField": "price",
                  "categoryAxis": {
                    "gridPosition": "start",
                    "gridAlpha": 2,
                    "axisAlpha": 0
                  },
                  "valueAxes": [{
                    "gridAlpha": 0,
                    "ignoreAxisWidth": true,
                    "labelFunction": function(value) {
                      return Math.abs(value)
                    },
                    "guides": [{
                      "value": 0,
                      "lineAlpha": 2
                    }]
                  }],
                  "balloon": {
                    "fixedPosition": true
                  },
                  "chartCursor": {
                    "valueBalloonsEnabled": false,
                    "cursorAlpha": 0.05,
                    "fullWidth": true
                  },
                  "allLabels": [{
                    "text": "Buy",
                    "x": "28%",
                    "y": "100%",
                    "bold": true,
                    "align": "middle"
                  }, {
                    "text": "Sell",
                    "x": "75%",
                    "y": "100%",
                    "bold": true,
                    "align": "middle"
                  }],
                 "export": {
                    "enabled": false
                  }

                });
              </script>
              <div id="chartdiv-kraken" style="width: 100%; height: 280px;margin-top: 20px;"></div>

            </div>
            <div id="okcoin" class="tab-pane fade">
                <div class="col-sm-12">
                <div class="col-sm-6">
                  <label style="margin-left: 30%; height: 30px; margin-top: 10px;">Buy</label>
                </div>
                <div class="col-sm-6">
                  <label style="margin-left: 30%; height: 30px; margin-top: 10px;">Sell</label>
                </div>
               </div> 
               <div class="col-sm-12">
                <div class="col-sm-6 col-sm-offset-3">
                  <label style="margin-left: 30%;  height: 30px; margin-top: 10px;"><%=@okcoin_avg_price%></label>
                </div>
               </div> 
              <script>
                var okcoin_quantities = JSON.parse('<%=@okcoin_bids_quantities.to_json.html_safe%>')
                var chart = AmCharts.makeChart("chartdiv-okcoin", {
                  "type": "serial",
                  "theme": "none",
                  "rotate": true,
                  "marginBottom": 50,
                  "dataProvider": JSON.parse('<%= @okcoins_details.to_json.html_safe -%>'),
                  "startDuration": 1,
                  "graphs": [{
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "buy",
                    "title": "Buy",
                    "labelText": "[[value]]",
                    "clustered": false,
                    "labelFunction": function(item) {
                      return Math.abs(item.values.value)
                    },
                    "balloonFunction": function(item) {
                      return item.category + ": "+item['dataContext']['quantity_buy']+" - " + Math.abs(item.values.value);
                    }
                  }, {
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "type": "column",
                    "valueField": "sell",
                    "title": "Sell",
                    "labelText": "[[value]]",
                    "clustered": false,
                    "labelFunction": function(item) {
                      return Math.abs(item.values.value)
                    },
                    "balloonFunction": function(item) {
                      return item.category + ": "+item['dataContext']['quantity_buy']+" - " + Math.abs(item.values.value);
                    }
                  }],
                  "categoryField": "price",
                  "categoryAxis": {
                    "gridPosition": "start",
                    "gridAlpha": 2,
                    "axisAlpha": 0
                  },
                  "valueAxes": [{
                    "gridAlpha": 0,
                    "ignoreAxisWidth": true,
                    "labelFunction": function(value) {
                      return Math.abs(value)
                    },
                    "guides": [{
                      "value": 0,
                      "lineAlpha": 2
                    }]
                  }],
                  "balloon": {
                    "fixedPosition": true
                  },
                  "chartCursor": {
                    "valueBalloonsEnabled": false,
                    "cursorAlpha": 0.05,
                    "fullWidth": true
                  },
                  "allLabels": [{
                    "text": "Buy",
                    "x": "28%",
                    "y": "100%",
                    "bold": true,
                    "align": "middle"
                  }, {
                    "text": "Sell",
                    "x": "75%",
                    "y": "100%",
                    "bold": true,
                    "align": "middle"
                  }],
                 "export": {
                    "enabled": false
                  }

                });
              </script>
              <div id="chartdiv-okcoin" style="width: 100%; height: 280px;margin-top: 20px;"></div>         
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-6">
          <p><b>Long vs Shorts - Kraken</b></p>
          <table>
            <thead>
              <th class="text-align-center">Low</th>
              <th class="text-align-center">High</th>
            </thead>
            <tbody>
              <%@kraken_ohlc.each do |ohlc|%>
              <tr>
                <td class="text-align-center"><%=ohlc[2]%></td>
                <td class="text-align-center"><%=ohlc[3]%></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>

        <div class="col-sm-6">
          <p><b>News</b></p>
            <table>
              <tr>
                <th>S. No.</th>
                <th>Title</th>
                <th>Published On</th>
                <th></th>
              </tr>
              <% @news_list.each_with_index do |news, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= news[:title] %></td>
                  <td><%= Time.zone.parse(Time.at(news[:published_on]).to_s).strftime("%d-%m-%y %H:%M") %></td>
                  <td>
                    <%=link_to "/news/#{news[:id]}" do%>
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <%end%>
                  </td>
                </tr>
              <% end %>  
            </table>
        </div>
      </div>
    </div>  
  </main> 
</div>
<script>
  $(document).ready(function(){
    window.setInterval(function(){
      $('.amcharts-chart-div a').remove();
    }, 1000)
  })
</script>